.container{
    display: grid;
    border: 1px solid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.header{
border: 2px red solid;
grid-column-start: 1;
grid-column-end: 3;
}

.sidebar{
border: 2px blue solid;
grid-column-start: 1;
grid-column-end: 2;

}

.main-container{
border: 2px green solid;
grid-column: 2/3;
}