
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-variablefont_wdthwght-webfont.woff') format('woff'),
         url('fonts/roboto-variablefont_wdthwght-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

body{
    margin: 0%;
    font-family: Roboto;
}
svg {
    color: white;
    width: 24px;
    height: 24px;
}

.large-icon {
    width: 40px;
    height: 40px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-start: 2;
    grid-column-end: 3;
    gap: 2px;
}

.search-bar {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.username {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.header-username {
    grid-column: 1/2;
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 15px;

}

.header-buttons-section {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#user-profile-img1{
    width: 50px;
    height: auto;
    border-radius: 50%;

}

#user-profile-name1{
    font-size: 20px;
    font-weight: 700;
}

#user-profile-img2{
    width: 100px;
    height: auto;
    border-radius: 50%;

}


#greeting{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

#user-profile-name2{
    font-size: 30px;
    font-weight: 700;
    margin-top: 0%;
}

#search-btn{
    border: none;
    background: none;
}

input[type=search]{
    border-radius: 12px;
    border: none;
    background: rgb(215, 231, 235);
    width: 100%;
    padding: 5px;
}

.header-buttons{
    background-color: rgb(0, 145, 255);
    color: white;
    padding: 7px 20px;
    border-radius: 16px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 6fr;
    background-color: rgb(0, 145, 255);
    color: white;

}

.main-container {
    
    background-color: rgb(215, 231, 235);
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 30px;
    gap: 10px;
    
}

.projects-section {
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 1fr 1fr 1fr;
    gap: 20px;
    margin-left: 25px;

}

#project-heading {
    grid-column: 1/3;
    font-size: 25px;
    font-weight: 800;
    margin-top: 10px;
}

.project-data {
    background-color: white;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 10px 1fr;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card-line{
    background-color: rgb(240, 206, 11);
    width: 10px;
    border-radius: 8px 0 0 8px;
}

.project-icons{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.project-elements{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 20px;
}

.project-title{
    font-size: 20px;
    font-weight: 600;
}

.project-desc{
    color: rgb(105, 100, 100);
}

.announcements-section {
    border: 3px rgb(77, 40, 150) solid;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;

}

.trending-section {
    border: 3px rgb(23, 195, 101) solid;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar-title {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
    font-size: 40px;
}

.main-links {
    display: grid;
    grid-template-columns: 1fr;
}

.main-list,
.other-list {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 800;
}