svg {
    color: white;
    width: 24px;
    height: 24px;
}

.large-icon {
    width: 40px;
    height: 40px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

.container {
    display: grid;
    border: 1px solid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    gap: 10px;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 20px;
    gap: 15px;
}

.search-bar {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.username {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.header-username {
    grid-column: 1/2;
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 15px;

}

.header-buttons {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#user-profile-img1{
    width: 50px;
    height: auto;
    border-radius: 50%;

}

#user-profile-name1{
    font-size: 20px;
    font-weight: 700;
}

#user-profile-img2{
    width: 100px;
    height: auto;
    border-radius: 50%;

}


#greeting{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

#user-profile-name2{
    font-size: 30px;
    font-weight: 700;
    margin-top: 0%;
}

#search-btn{
    border: none;
    background: none;
}

input[type=search]{
    border-radius: 12px;
    border: none;
    background: rgb(215, 231, 235);
    width: 100%;
    padding: 5px;
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 6fr;
    background-color: rgb(0, 145, 255);
    color: white;

}

.main-container {
    border: 2px green solid;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.projects-section {
    border: 3px rgb(150, 40, 40) solid;
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr;
    gap: 10px;
    padding: 10px;
}

#project-heading {
    grid-column: 1/3;
    ;
}

.project-data {
    border: 3px rgb(156, 151, 14) solid;
}

.announcements-section {
    border: 3px rgb(77, 40, 150) solid;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;

}

.trending-section {
    border: 3px rgb(23, 195, 101) solid;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar-title {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
    font-size: 40px;
}

.main-links {
    display: grid;
    grid-template-columns: 1fr;
}

.main-list,
.other-list {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px
}